.controlBoard form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.playerLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    color: var(--liteGreen);
}

.playerLabel input {
    border: 2px solid var(--white);
    height: 32px;
    padding-left: 7px;
    text-align: center;
    width: 215px;
}

.gameReset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.gameReset button {
    background-color: var(--white);
    border: 2px solid var(--liteGreen);
    font-size: 14px;
    height: 32px;
    width: 100px;
}