.playerDisplay {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--tan);
    color: var(--darkBlue);
    height: 90px;
    width: 90px;
}

.leftPlayerDisplay {
    border-bottom: 1px solid var(--darkBlue);
    border-right: 1px solid var(--darkBlue);
}

.rightPlayerDisplay {
    border-left: 1px solid var(--darkBlue);
    border-bottom: 1px solid var(--darkBlue);
}